{% extends 'base.html' %}
{% block title %}{{pet.name}}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <h1 class="display-1 text-secondary">{{pet.name}}</h1>
</div>
<div class="col-md-3 mt-4 text-center m-auto">
  <div class="card shadow profile-card-4">
    <div class="card-img-block">
      <img class="card-img-top" src={{pet.photo_url}} alt="Card image cap">
    </div>
    <div class="card-body pt-0">
      <h5 class="card-title my-2">
        {{pet.name}}
        {% if pet.available %}
        <span class="font-weight-bold">is available</span>
        {% else %}
        <span class="font-weight-bold">is not available</span>
        {% endif %}
      </h5>
      <p class="card-text">
        {% if pet.notes %}
        {{pet.notes}}
        {% else %}
        <em>No info available...</em>
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endblock %}